@model VidlyTut.Models.LogModel

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        label {
            display: inline-block;
            width: 140px;
            text-align: right;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        <h2>Login Form</h2>
        <div class="block">
            <label><b>Username</b></label>
            @Html.EditorFor(m=>m.UserName)
        </div>
        <div class="block">
            <label for="psw"><b>Passsword</b></label>
            @Html.EditorFor(p=>p.Password)
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            @*<button type="submit">Create</button>*@
        </div>
        <div>
          
            @if (@ViewBag.Status !=null && ViewBag.Status)
            {
                <label>user validate</label>
            }

            @if(ViewBag.Status !=null && ViewBag.Status == false )
            {
                <label>user not validate</label>
            }
        </div>
    }
</body>
</html>

